BOT_TOKEN=
CHANNEL_ID_REMIND=
CHANNEL_ID_PRSK=
CHANNEL_ID_RANK=
APP_ENV=production
MEMBERS=
VIRTUAL_LIVE_API=https://sekai-world.github.io/sekai-master-db-diff/virtualLives.json
CURRENT_EVENT_API=https://sekai-world.github.io/sekai-master-db-diff/events.json
GAME_API_URL=https://public-api.haruki.seiunx.com
GAME_API_PATH=/sekai-api/v5/api/jp
GAME_API_RANK_PATH1=/event
GAME_API_RANK_PATH2=/ranking-border
GAME_API_HEADER=X-Haruki-Sekai-Token
GAME_API_TOKEN=
DELAY=10